<footer class="footer" id="footer">
	<div class="footer_container">
		<div class="row">
			<div class="footer-col">
				<h4>cégünk</h4>
				<ul>
					<li><a href="#">about us</a></li>
					<li><a href="#">our services</a></li>
					<li><a href="#">privacy policy</a></li>
					<li><a href="#">affiliate program</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>segítség</h4>
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">shipping</a></li>
					<li><a href="#">returns</a></li>
					<li><a href="#">order status</a></li>
					<li><a href="#">payment options</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>online vásárlás</h4>
				<ul>
					<li><a href="#">watch</a></li>
					<li><a href="#">bag</a></li>
					<li><a href="#">shoes</a></li>
					<li><a href="#">dress</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<h4>készítette</h4>
				<ul>
					<li><a href="#">Fenyvesi Ferenc</a></li>
					<li><a href="#">Szaszovszki Kevin János</a></li>
					<li><a href="#">Regős Gábor Bence</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<script>
	function success() {
	 if(document.getElementById("kereses").value==="") { 
            document.getElementById('keresesGomb').disabled = true; 
        } else { 
            document.getElementById('keresesGomb').disabled = false;
        }
    }
	
</script>
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js
"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="/App/js/swiper-bundle.min.js"></script>
<script src="/App/js/jquery-3.6.3.min.js"></script> 
<!-- JavaScript -->
<script src="/App/js/script.js"></script>
<!--<script src="/App/js/cart.js"></script>-->
<script src="/App/js/myScript.js"></script>
<script src="/App/js/index.js"></script>
<script src="/App/js/cartButton.js"></script>
<script src="/App/js/colorTheme.js"></script>
<script src="/App/js/fixed_navbar.js"></script>
</body>
</html>
