/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
}

.card-image{
  position: relative;
  
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 17px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: black;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: grey;
}

.swiper-navBtn{
  color: black;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: grey;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: grey;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: black;
}

@media screen and (max-width: 950px) {

  .name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
  }

  .slide-container{
    max-width: 70%;
    max-height: 70%;
    width: 100%;
    padding: 40px 0;
  }
}

@media screen and (max-width: 768px) {

  .name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
  }

  .slide-container{
    max-width: 80%;
    max-height: 70%;
    width: 100%;
    padding: 40px 0;
  }
}

@media screen and (max-width: 520px) {

  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }

  .slide-container{
    max-width: 80%;
    max-height: 80%;
    width: 100%;
    padding: 40px 0;
  }
}

