<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="App/css/login.css" />
  <title>Mester hármas</title>
</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="/reset_password" method="POST" class="sign-in-form">
          <h2 class="title">Jelszó megváltoztatása</h2>
          <div class="input-field">
          <input type="hidden" name="usertoken" value="{{user.token}}" />
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Új jelszó" name="new_password" required />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Új jelszó megerősítése" name="cnew_password" required />
          </div>
          <input type="submit" value="Jelszó megváltoztatása" name="resetPassword" class="btn solid" />
          <p><a class="visszaFooldalra" href="/products">Vissza a főoldalra.</a></p>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Jelszó megváltoztatása?</h3>
          <p>
            Ne aggódjon, a jelszavát itt tudja megváltoztatni.
          </p>
        </div>
        <img src="img/log.svg" class="image" alt="" />
      </div>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <script src="app.js"></script>
</body>

</html>